<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{ title }}</h1>
    <button (click)="updateTimeZone('pst')" [ngClass]="{active: active == 'pst'}" type="button" name="button">PST</button>
    <button (click)="updateTimeZone('mst')" [ngClass]="{active: active == 'mst'}" type="button" name="button">MST</button>
    <button (click)="updateTimeZone('cst')" [ngClass]="{active: active == 'cst'}" type="button" name="button">CST</button>
    <button (click)="updateTimeZone('est')" [ngClass]="{active: active == 'est'}" type="button" name="button">EST</button>
    <button (click)="clear()" type="button" name="button">Clear</button>
    <h2 style="text-align:center">{{ date_time }}</h2>
</div>
